<div class="clock-calendar-container">
	<app-clock
		*ngIf="isClockDisplayed"
		[date]="date"
		[isShortTimeFormat]="isShortTimeFormat"
		(click)="onLeftClick()"
		(contextmenu)="onRightClick($event)"></app-clock>
	<app-calendar
		*ngIf="!isClockDisplayed"
		[date]="date"
		[dateFormat]="dateFormat"
		(click)="onLeftClick()"
		(contextmenu)="onRightClick($event)"></app-calendar>
</div>
<div class="weather-container">
	<app-weather
		[cityWeatherInfo]="cityWeatherInfo"></app-weather>
</div>
<div class="less-practicing">
	<h1>Less practicing</h1>
	<div class="text-container-big">Big text container</div>
	<div class="text-container-small">Small text container</div>
	<ul class="list">
		<li class="list-item"><a href="#">First link</a></li>
		<li class="list-item"><a href="#">Second link</a></li>
		<li class="list-item"><a href="#">Third link</a></li>
	</ul>
	<div class="banner">Welcome!</div>
</div>