.clock-calendar-container {
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid black;
	width: 20%;
	text-align: center;
	background: rgb(23, 148, 85);
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
}

.clock-calendar-container:hover {
	cursor: pointer;
	background: rgb(71, 175, 123);
	color: #000;
	border: 2px solid rgb(156, 153, 153);
}

.weather-container {
	width: 20%;
	padding-left: 10px;
	font-family: sans-serif;
	border: 2px solid black;
	background: rgb(23, 148, 85);
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
}